@page "/about"

@inject IWebHostEnvironment hostingEnvironment

<PageTitle>About TLC</PageTitle>

<h3 style="text-align:center">About the Text-Lines Counter (TLC) v1.0</h3>
<br />

<p>
    This software tool has been developed by <a href="https://www.csmc.uni-hamburg.de/about/people/mohammed.html" target="_blank"> Dr. Hussein Mohammed</a>
    as a part of sub-project A05: <a href="https://www.csmc.uni-hamburg.de/written-artefacts/research-fields/field-a/rfa05.html" target="_blank">
        Similarity Measurement of Visual Patterns in Written Artefacts
    </a>.
</p>
<br />
<p>
    <b>The main goal</b> of this software tool is to detect, count and mark the text lines in images of handwritten manuscripts. This version contains features to detect
    vertical text-lines and bright text-lines on darker background.
</p>
<br />
<h3 style="font:bold">Acknowledgement: </h3>
<p>
    The research and developement for this software was funded by the Deutsche Forschungsgemeinschaft (DFG, German Research Foundation) under
    Germany´s Excellence Strategy – EXC 2176 ‘Understanding Written Artefacts: Material, Interaction and Transmission in Manuscript Cultures’,
    project no. 390893796. The research was conducted within the scope of the Centre for the Study of Manuscript Cultures (CSMC) at Universität Hamburg.
</p>
<p>
    This software tool has been developed in close collaboration with <a href="https://www.csmc.uni-hamburg.de/about/people/gippert.html" target="_blank">Prof. Dr. Jost Gippert</a> from the CSMC, Hamburg.
    Furthermore, I would like to thank him for testing the application and validating the results.
</p>

<br />
<h3 style="position:center; font:bold">Copyrights Notice:</h3>
<div class="row">
    <div class="col-12 my-auto">
        <p>
            Proper citation of this software is required when it is used to support your research in anyway.

            This software tool is licensed under the <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">Creative Commons Attribution-NonCommercial 4.0 International Public License</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 my-auto" style="text-align:center">
        <img src="/images/Copyrights.png" class="img-responsive" style="width:50%" />
    </div>
</div>